<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color:  #F5DF4D;
  height:1000px;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row" >
     
      <div class="col-sm"style="margin-left:20% ; border-style: solid;
      border-color:red;  background: 	#363945; margin-right: 20%;  height:1000px;  ">
       <h1 style="text-align: center; color: aliceblue; text-shadow: 0px -5px 2px rgb(234, 59, 59);">BridgeLabz is Cool</h1>
       <img src="assets/images/bridgelabz-news.png" style="height: 10%; margin-left:30%;" >
       <p style="color: white;">
            We are in bridgelabz
       </p>
       <ul class="b" style="color: white;">
        <li>Technologe</li>
        <li>Thinker</li>
        <li>Builders</li>
       </ul>
         <p style="color: #f8eded;">
          BridgeLabz is a live Lab environment nurturing Engineers through its Experiential Fellowship Program. Bridgelabz 
          works with Tech Companies to hire fresh engineers and transforms them to industry ready hard-core developers.<br>
          
          BridgeLabz is the only organization of its kind which Develops- Matches- Places, 
         </p>
       
      </div>
      
   </div>
    </div>
    
</body>
</html>
